<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">书名</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="required" lay-reqtext="书名不能为空" placeholder="请输入书名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">作者</label>
        <div class="layui-input-block">
            <input type="text" name="author" lay-verify="required" lay-reqtext="作者不能为空" placeholder="请输入作者" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">简介</label>
        <div class="layui-input-block">
            <textarea name="profile" class="layui-textarea" placeholder="请输入简介"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">版本</label>
        <div class="layui-input-block">
            <input type="text" name="edition" lay-verify="required" lay-reqtext="版本不能为空" placeholder="请输入版本" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">出版社</label>
        <div class="layui-input-block">
            <input type="text" name="press" lay-verify="required" lay-reqtext="出版社不能为空" placeholder="请输入出版社" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">出版时间</label>
        <div class="layui-input-block">
            <input type="text" id="publishDateInput" name="publishTime" class="layui-input" lay-verify="required" lay-reqtext="出版时间不能为空" style="width:260px;">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">价格</label>
        <div class="layui-input-block">
            <input type="number" name="price" placeholder="请输入价格" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">押金</label>
        <div class="layui-input-block">
            <input type="number" name="deposit" lay-verify="required" lay-reqtext="押金不能为空" placeholder="请输入押金" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn"><i
                    class="layui-icon layui-icon-ok"></i> 确认保存
            </button>
            <button class="layui-btn layui-btn-primary layui-border-red" id="closeBtn"><i
                    class="layui-icon layui-icon-close"></i> 取 消
            </button>
        </div>
    </div>
</div>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:inline="javascript">
    ctxPath = [[@{/}]];
        $ = layui.$;
</script>
<script th:inline="javascript">
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate,
            $ = layui.$;
        laydate.render({
            elem: '#birthdateInput',//input的id
            type: 'date', //年月日
            format: 'yyyy-MM-dd',
            value: new Date()
        });
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            //检查表单正确性
            $.ajax({
                url: ctxPath + 'bookinfo/addbookinfo',
                type: "POST",
                data: {
                    title: data.field.title,
                    author: data.field.author,
                    profile: data.field.profile,
                    category: data.field.category,
                    edition: data.field.edition,
                    press: data.field.press,
                    publishDate: data.field.publishDate,
                    price: data.field.price,
                    deposit: data.field.deposit
                },
                success: function (response) {
                    if (response.code === 0) {
                        layer.msg("添加成功", {time: 1000}, function () {
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                            parent.layui.table.reload('bookInfoTable', {
                                where: { },
                                page: {
                                    curr: 1
                                }
                            });
                        });
                    } else {
                        layer.msg(response.msg, {anim: 6});
                    }
                }
            });
            return false;
        });
    });
    $('#closeBtn').click(function () {
        var iframeIndex = parent.layer.getFrameIndex(window.name);
        parent.layer.close(iframeIndex);
        return false;
    });
</script>
</body>
</html>